<h1>Nuevo Articulo</h1>
<!-- El método auxiliar form_with crea una instancia de un generador de formularios.
En el bloque form_with llamamos a métodos como label y text_field en el generador de formularios para generar los elementos de formulario apropiados.

-->
<!--Let's update app/views/articles/new.html.erb to use the partial via render:-->




<%= render "form", article: @article %>